$colors: (
  pink: hsl(322, 100%, 66%),
  light-pink: hsl(321, 100%, 78%),
  light-red: hsl(0, 100%, 63%),
  very-dark-cyan: hsl(192, 100%, 9%),
  very-pale-blue: hsl(207, 100%, 98%),
);

@function color($c) {
  @return map-get($colors, $c);
}

@mixin idealFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($j, $a) {
  display: flex;
  justify-content: $j;
  align-items: $a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#bodyClone {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
